streamlit
pandas
plotly
matplotlib
seaborn
wordcloud
openai
google-generativeai
graphviz
reportlab
openpyxl
python-dotenv
numpy>=1.24
hydralit-components>=1.0.10
groq
rapidfuzz
scikit-learn
xlsxwriter
networkx
sentence-transformers


